
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Gckeditor471/ckeditor.js"></script>
    <title>Edit</title>
    <script>
        var editorTimer;
        function GetCurrentStyle(obj, prop) {

            var oStyle = obj.currentStyle ? obj.currentStyle : window.getComputedStyle(obj, null);
            if (oStyle.getPropertyValue) {
                return oStyle.getPropertyValue(prop);
            } else {
                return oStyle.getAttribute(prop);
            }
            return null;
        };
        var editor;
        function CreateEditor(id) {
            if (editor) {
                alert("请先关闭正在编辑的内容...");//20170710
                return;
            }
            var config = {};
            config.language = 'zh-cn';
            config.width = '600px';
            config.height = '200px';
            config.enterMode = CKEDITOR.ENTER_BR;
            config.shiftEnterMode = CKEDITOR.ENTER_BR;
            config.baseFloatZIndex = 2000;
            var htmlStr = $(id).html();
            editor=CKEDITOR.appendTo("t1", config, htmlStr);

        }
   
        var da = $("#t1").html();
        var editFlat = false;
          editorTimer = window.setInterval(function () {
            var data = editor.getData();//内容
            if (data == "")
                editFlat = true;
            if (editFlat == true) {
                if (data != "") {
                    editor.setData(editor.getData().replace("<p>", "").replace("</p>", ""));
                    editFlat = false;
                    console.log(data);
                }
            }
        }, 100);
        function destory() {
            var data = editor.getData();
            $("#t1").html(data);
            editor.destroy();
            editorTimer = null;
            editor = null;
       
        }
    </script>
</head>
<body>
    <div> 
        <div style="position:absolute;top:50px;left:0;z-index:0;display:none; width:200px;height:550px;border:red 2px solid"></div>
        <p id="t1" ondblclick="CreateEditor(this)">这是一个编辑器的例子</p>
        <button  onclick="destory()">销毁</button>
    </div>
</body>
</html>
